<form name="docEditForm" id="fileupload" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
        


  <fieldset>
    <legend ng-hide="document.uid">Create a document</legend>
    <legend ng-show="document.uid">Edit the document</legend>
    

    <div ng-hide="document.uid" class="form-group">
      <label for="doctype">Document type</label>
      <select required class="form-control" ng-model="document.type">
        <option value="Folder">Folder</option>
        <option value="Workspace">Workspace</option>
        <option value="File">File</option>
        <option value="Note">Note</option>

      </select>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" required id="title" ng-model="document.properties['dc:title']">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" ng-model="document.properties['dc:description']" rows="3"/>
    </div>

    <div ng-show="document.type == 'File'" class="form-group">
      
<!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="span7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                    <i class="glyphicon glyphicon-plus glyphicon-white"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple ng-disabled="disabled">
                </span>
                <button type="button" class="btn btn-primary start" data-ng-click="submit()">
                    <i class="glyphicon glyphicon-upload glyphicon-white"></i>
                    <span>Start upload</span>
                </button>
                <button type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
                    <i class="glyphicon glyphicon-ban-circle glyphicon-white"></i>
                    <span>Cancel upload</span>
                </button>
                <!-- The loading indicator is shown during file processing -->
                <div class="fileupload-loading"></div>
            </div>
            <!-- The global progress information -->
            <div class="span5 fade" data-ng-class="{in: active()}">
                <!-- The global progress bar -->
                <div class="progress-bar progress-bar-success progress-bar-striped active" data-file-upload-progress="progress()">
                    <div class="bar" data-ng-style="{width: num + '%'}"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>



        
        <!-- The table listing the files available for upload/download -->
        <table class="table table-striped files ng-cloak">
            <tr data-ng-repeat="file in queue">
                <td data-ng-switch data-on="!!file.thumbnailUrl">
                    <div class="preview" data-ng-switch-when="true">
                        <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                    </div>
                    <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                </td>
                <td>
                    <p class="name" data-ng-switch data-on="!!file.url">
                        <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                            <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                            <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                        </span>
                        <span data-ng-switch-default>{{file.name}}</span>
                    </p>
                    <div data-ng-show="file.error"><span class="label label-important">Error</span> {{file.error}}</div>
                </td>
                <td>
                    <p class="size">{{file.size | formatFileSize}}</p>
                    <div class="progress-bar progress-bar-success progress-bar-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="bar" data-ng-style="{width: num + '%'}"></div></div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit">
                        <i class="glyphicon glyphicon-upload glyphicon-white"></i>
                        <span>Start</span>
                    </button>
                    <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                        <i class="glyphicon glyphicon-ban-circle glyphicon-white"></i>
                        <span>Cancel</span>
                    </button>
                    <button data-ng-controller="FileDestroyController" type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                        <i class="glyphicon glyphicon-ban-circle glyphicon-white"></i>
                        <span>Delete</span>
                    </button>
                </td>
            </tr>
        </table>

    </div>

    <div ng-show="document.type == 'Note'" class="form-group">
      <label for="description">Note</label>
      <textarea class="form-control" ng-model="document.properties['note:note']" rows="15"/>
    </div>

    <button type="submit" class="btn btn-primary" ng-disabled="isClean() || docEditForm.$invalid" ng-click="save()">Save</button>
    <button type="submit" class="btn btn-warning" ng-click="docancel()">Cancel</button>      
    <button ng-show="document.uid" type="submit" class="btn btn-danger" ng-click="destroy()">Delete</button>
  </fieldset>
</form>



